.container {
    padding: 20px 50px;
}
.titleContainer{
    display: flex;
    align-items: center;
    gap: 20px;
}
.titleContainer svg {
    font-size: 1.5em;
    cursor: pointer;
    transition: .3s;
}
.titleContainer svg:hover{
    color: var(--primary);
}
.contaierInfoProfile{
    display: flex;
    align-items: self-start;
    gap: 10px;
    max-width: 700px;
}
.imgProfile{
    width: 150px;
    border-radius: 50%;
}
.infoProfile{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title{
    font-size: 1.6em;
    font-weight: bold;
}
.desc {
    font-size: 1em;
}
.containerButton{
    padding: 10px 20px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.fileModal{
    display: none;
}
.btnFile{
    padding: 10px 20px;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}
.btnFile:hover, .btnFile:focus {
    background-color: var(--ligth);
}

@media screen and (max-width: 768px){
    .contaierInfoProfile{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}