
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
}

.fillter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerJobsAndAds{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
}
.jobsCards{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 768px){
    .header{
        flex-direction: column;
        padding: 0 10px;
    }
    .jobsCards{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .containerJobsAndAds{
        align-items: center;
    }
}