@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@400;700&family=Roboto:wght@300;400;700&display=swap');
:root {
    --primary: #B30040;
    --primary-dark: #710028;
    --secondary: #313131;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.btn-primary{
    background-color: var(--primary);
    border: none;
    transition: .3s;
    border-radius: 1px;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: var(--primary-dark);
}