@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@400;700&family=Roboto:wght@300;400;700&display=swap');
:root {
    --primary: #01d508;
    --primary-dark: #009a05;
    --secondary: #313131;
    --ligth: #e1e1e1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.btn-primary{
    background-color: transparent;
    border: 1px solid #ccc;
    transition: .3s;
    border-radius: 5px;
    color: var(--secondary);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary::backdrop {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    --bs-btn-active-bg: #01d508;
    --bs-btn-active-color: #fff;
}
.btn.show {
    background-color: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
}
.dropdown-menu button:focus {
    background-color: var(--primary);
    color: #fff;
}

.pagination-container-center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.pagination-container {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

@media screen and (max-width: 768px){
    .pagination-container {
        width: 95%;
    }
}